@media (max-width: 992px) {
  /* ******************* */
  /* PROJECTS */
  /* ******************* */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 960px;
  }
}

@media (max-width: 600px) {
  /* ******************* */
  /* NAVIGATION BAR */
  /* ******************* */
  .navbar-nav {
    display: none;
  }
  .heading-primary span {
    display: none;
  }
  /* ******************* */
  /* PROJECTS */
  /* ******************* */
  .projects-grid {
    grid-template-columns: 1fr;
  }
  /* ******************* */
  /* ABOUT */
  /* ******************* */
  .about-flex {
    display: flex;
    flex-direction: column;
  }
}
